.no-radius {
  border-radius: 0!important;
}

.no-padding {
  padding: 0 !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  font-weight: 400;
}

#autocollapse .form-group .btn {
  margin-left: 54px;
}

.toc-filter {
  border-radius: 0;
}

input {
  background-color: transparent;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: center;
}

.flex-item {
  flex-grow: 1;
}

.max-height {
  height: 100%;
}

.main-search-field {
  height: 100%;
  width: 100%;
  border: 0;
  padding-left: 12px;
  padding-right: 32px;
}

.main-search-field-icon {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 4px;
  position: absolute;
  right: 10px;
  top: 9px;
  pointer-events: none;
}

.container > .navbar-collapse,
.container > .navbar-header,
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar-collapse {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

.navbar-toggle {
  margin-right: 0;
}

#autocollapse.collapsed .collapse.in .navbar-right,
#autocollapse.collapsed .collapsing .navbar-right {
  float: none!important;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#autocollapse.collapsed .navbar-form {
  padding: 0;
  margin: 16px 0 0;
}

.navbar-form {
  margin: 8px 0 0;
}

#autocollapse.collapsed .form-group {
  display: block;
  margin-top: 6px;
}

#autocollapse.collapsed .form-group .btn {
  margin-left: 0;
  margin-top: 16px;
}

input[type=text]::-ms-clear {
  display: none;
}

@media (min-width:996px) {
  .navbar-form {
    width: 30%;
  }

  #autocollapse.collapsed .navbar-form {
    width: 100%;
  }
}

@media (max-width:995px) {
  .navbar-form {
    width: 100%;
  }

  #autocollapse .collapse.in .navbar-right,
  #autocollapse .collapsing .navbar-right {
    float: none!important;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  #autocollapse .navbar-form,
  .navbar-form {
    padding: 0;
    margin: 16px 0 0;
  }

  #autocollapse .form-group {
    display: block;
    margin-top: 6px;
  }

  #autocollapse .form-group .btn {
    margin-left: 0;
    margin-top: 16px;
  }
}

/* image preview feature */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.icon-action {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.image-preview {
  z-index: 4000;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-transition: opacity 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-transition: opacity 0.2s; /* Firefox < 16 */
  -ms-transition: opacity 0.2s; /* Internet Explorer */
  -o-transition: opacity 0.2s; /* Opera < 12.1 */
  transition: opacity 0.2s;
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
  -ms-animation: fadein 0.2s; /* Internet Explorer */
  -o-animation: fadein 0.2s; /* Opera < 12.1 */
  animation: fadein 0.2s;

}

.image-preview .image-background {
  overflow-y: hidden;
  position: fixed;
  z-index: 4000;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.image-preview .image-content {
  overflow-y: hidden;
  position: fixed;
  pointer-events: none;
  min-width: 200px;
  min-height: 200px;
  z-index: 4010;
  width: 100%;
  height: calc(100% - 60px);
  padding-left:40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: painted;
  cursor: pointer;
}

.image-preview .image-focus{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  min-width: 15%;
  min-height: 15%;
  vertical-align: middle;
  border: none;
  scale: 1.0;
  top: 0px;
  left: 0px;
  position: relative;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.image-preview .image-overlay-close {
  top: 10px;
  right: 20px;
  color: #fff ;
  padding-left: 12px;
  padding-right: 12px;
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
  pointer-events:painted;
}

.image-preview .image-overlay-close-icon:after {
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  font-size: 30px;
}

.image-preview .image-overlay-close:active {
  opacity: 0.33;
}

.image-preview .image-overlay-action {
  font-size: 16px;
  color: #fff;
  fill: #fff;
  
  border-radius: 3px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  float: left;
  flex-shrink: 0;
  pointer-events: painted;
  margin-top: 8px;
  margin-bottom: 8px;
}

.image-preview .image-overlay-action:active {
  opacity: 0.33;
}

.image-preview .image-overlay-action-group {
  /*position: absolute;
  top: 20px;
  right: 0px;
  left: 0px;
  display: flex;
  z-index: 4015;
  margin-left: 24px;*/
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  z-index: 4015;
  height: 60px;
  background: black;
}

.image-preview .image-overlay-close:hover,.image-preview .image-overlay-action:hover {
  background-color: rgba(255, 255, 255, 0.82);
  color: black;
  fill: black;
}

#zoomInImage {
  margin-left: 30px;
}

#previewContent{
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
} 